<!-- main.hbs-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href="../../public/css/style.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale-1.0">

</head>
<body>

    <nav>
    <a href="../index.hbs">Home</a> |
    <a href="../Coaches.hbs">Coaches</a> |
    <a href="../Teams.hbs">Teams</a> |
    <a href="../players.hbs">Players</a> |
    <a href="../Games.hbs">Games</a> |
    <a href="../Gyms.hbs">Gyms</a>
    </nav>

    {{{body}}}

</body>
</html>